<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template.css">
    <link rel="stylesheet" href="style.css">
    <script defer src="ejsmainpage.js"></script>
    <title>Main Page</title>
</head>
<body>
  <div class="e-content">
    <h1>Hello</h1>
    <ul>
        <% sqlres.forEach(function(el) { %>
          <li>
            <strong><%= el.id %></strong>
            <%= el.username %>,
            <%= el.email %>
            <%= el.password %>
          </li>
        <% }); %>
      </ul>

      <button type="button" class="btn">Click!</button>
    </div>

      <noscript>
        <style>
          .e-content{
            display: none;
          }

          noscript{
            display: block;
          }
        </style>
        <div class="noscript-container">
          <h1>Oooooh!!! I see wachu done right here....</h1>
          <h2>Please enable Javascript</h2>
        <video width="560" height="315" controls autoplay loop muted>
          <source src="/video" type="video/mp4">
        </video>
        </div>

      <!-- <meta http-equiv="refresh" content="0; url=https://www.youtube.com/watch?v=dQw4w9WgXcQ"> -->
    </noscript>
</body>
</html>