<footer>
    <div class="footer-container">
        <div class="footer-left-side">
            <a href="" class="footer-link-style">Lorem, ipsum dolor.</a>
            <a href="" class="footer-link-style">Lorem, ipsum dolor.</a>
            <a href="" class="footer-link-style">Lorem, ipsum dolor.</a>
            <a href="" class="footer-link-style">Lorem, ipsum dolor.</a>
        </div>
        <div class="footer-left-side">
            <a href="" class="footer-link-style">Lorem, ipsum dolor.</a>
            <a href="" class="footer-link-style">Lorem, ipsum dolor.</a>
            <a href="" class="footer-link-style">Lorem, ipsum dolor.</a>
            <a href="" class="footer-link-style">Lorem, ipsum dolor.</a>
        </div>
        <div class="footer-left-side">
            <a href="" class="footer-link-style">Lorem, ipsum dolor.</a>
            <a href="" class="footer-link-style">Lorem, ipsum dolor.</a>
            <a href="" class="footer-link-style">Lorem, ipsum dolor.</a>
            <a href="" class="footer-link-style">Lorem, ipsum dolor.</a>
        </div>
    </div>
</footer>