<header>
    <div class="navbar-container">
        <div class="navbar-left-side">
            <div class="navbar-links">
                <a class="navbar-link-style" href="/">Admin</a>
                <a class="navbar-link-style" href="/about">Admin</a>
                <a class="navbar-link-style" href="/donate">Admin</a>
            </div>
        </div>
        <div class="navbar-reg">
            <a class="navbar-link-style" href="/login">Admin</a>
            <a class="navbar-link-style" href="/register">Log Out</a>
        </div>
    </div>
</header>