<noscript>
    <style>
      .e-content{
        display: none;
      }

      noscript{
        display: block;
      }
    </style>
    <div class="noscript-container">
      <h1>Oooooh!!! I see wachu done right here....</h1>
      <h2>Please enable Javascript</h2>
    <video width="560" height="315" controls autoplay loop muted>
      <source src="/video" type="video/mp4">
    </video>
    </div>

  <!-- <meta http-equiv="refresh" content="0; url=https://www.youtube.com/watch?v=dQw4w9WgXcQ"> -->
</noscript>