:root{
    --main-bg-color: #052b7c;
    --main-hover-color: #0941b9;
    --main-font-color: #fff;
    --input-border-color: #dddddd;
    --nav-border-color: #e8e8e8;
    --err-color: #b90909;
    --font-f: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--font-f);
    margin: 0;
}


.e-content{
    display: block;
}



h1, h4{
    text-align: center;
    margin: 15px;
}

header{
    position: sticky;
    top: 0;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0 1.5rem;
    height: 60px;
    background-color: var(--main-font-color);
    border-bottom: 1px solid var(--nav-border-color);
}

.navbar-left-side{
    display: flex;
    justify-content: left;
    align-items: center;
}

.navbar-reg{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}

.navbar-link-style{
    color: var(--main-bg-color);
    padding: 17px 15px;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}

.navbar-link-style:hover{
    color: var(--main-hover-color);
    border-bottom: 3px solid var(--main-hover-color);
    border-top: 3px solid white;
    /* transition: 0.3s; */
}



.dropdown{
    cursor: pointer;

}

.title-plus-arrow{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 17px 24px;
}


.n-right{
    color: var(--main-bg-color);
    padding: 0 0 0 20px;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    /* height: -54px; */
}

.n-right:hover{
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}

.triangle{
	width: 0;
	height: 0;
	border-width: 6px 6px 0 6px;
	border-color: var(--main-bg-color) transparent transparent transparent;
	border-style: solid;
    margin: 0 8px;
}

.dropdown-content{
    display: none;
    position: absolute;
    padding: 15px 15px 15px 0;
    /* margin: 10px 0; */
    z-index: 1;
}

.dropdown:hover{

    .dropdown-content{
        display: block;
    }
}

.content-link{
    display: flex;
    flex-direction: column;
}

.drop-sub-elem{
    color: var(--main-bg-color);
    padding: 12px;
    border-left: 1px solid var(--nav-border-color);
    font-size: 18px;
    text-align: left;
    text-decoration: none;
}

.drop-sub-elem:hover{
    color: var(--main-hover-color);
    border-left: 1px solid var(--main-hover-color);
}



.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100svh;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    border-top: 1px solid var(--nav-border-color);
  }


.footer-left-side{
    display: flex;
    flex-direction: column;
}

  .footer-link-style{
    color: var(--main-bg-color);
    padding: 10px 15px;
    font-size: 15px;
    text-decoration: none;
  }


.footer-link-style:hover{
    color: var(--main-hover-color);
    padding: 10px 15px;
    font-size: 15px;
    text-decoration: none;
  }


  /* noscript{
    display: none;
} */

.noscript-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}