<%- include('../templates/headstart') %>
    <script defer src="app-welcome.js"></script>
    <title>Document</title>
<%- include('../templates/headend') %>
<body>
    <h1><%= msg %></h1>
<%- include('../templates/noscript') %>
</body>
</html>